body {
    background-color: #ffffff;
    font-family: arial, sans-serif;
    -webkit-user-select: none;
}

.popup {
    width: 280px;
    padding: 15px;
}
.feedbackContainer {
    line-height: 17px;
    font-size: 13px;
    color: #333;
}

.instalNotice {
    width: 250px;
    line-height: 17px;
    font-size: 13px;
    color: #333;
}

.heading {
    font-weight: bold;
    margin-bottom: 5px;
}

.gotitdiv {
    text-align: right;
}

.gotitbutton {
    font-weight: bold;
    cursor:pointer
}

.noticepart {
    margin-bottom: 5px;
}

.strengthText {
    padding-bottom: 5px;
}

.feedback {
    padding-top: 5px;
}

.error {
    color: red;
    padding-left: 10px;
}

.header {
    margin-bottom: 5px;
    font-size: 17px;
}

.btn {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.btn:hover {
    background-color: #e7ecf0;
    background-image: linear-gradient(to bottom, #e7ecf0, #b6b9ba);
    text-decoration: none;
    outline: none;
    cursor: pointer;
}